In [1]:
import sys
import pandas as pd

# change working directory to the root of the project
sys.path.append('../')
from src.amadeus_api import amadeus_pipeline

In [ ]:
def calc_absolute_dist(point1: tuple, point2: tuple):

In [12]:
latitude_param = 51.484703
longitude_param = -0.061048

request_params = {
    "latitude": latitude_param,
    "longitude": longitude_param,
    "radius": "5",
    "categories": "SIGHTS"
}

res = amadeus_pipeline(request_params=request_params, isProd=False)

In [11]:
df = pd.DataFrame(res['data'], columns=['name','category','geoCode','rank','tags'])
df = pd.concat([df.drop(['geoCode'], axis=1),df['geoCode'].apply(pd.Series)], axis=1)

df = df[['name','category','latitude','longitude','rank','tags']]
df = df.set_index('name')
df

,category,latitude,longitude,rank,tags
name,,,,,
Westminster Abbey,SIGHTS,51.499320,-0.127374,5,"[church, sightseeing, landmark, temple, tourgu..."
Tower Bridge,SIGHTS,51.505375,-0.075453,5,"[sightseeing, bridge, landmark, sights, tourgu..."
Tower of London,SIGHTS,51.508300,-0.076068,5,"[sightseeing, landmark, sights, tourguide, cas..."
St Paul's Cathedral,SIGHTS,51.513718,-0.099449,5,"[church, sightseeing, sights, landmark, restau..."
Big Ben,SIGHTS,51.500780,-0.124601,10,"[landmark, sightseeing, sights, historicplace,..."
Shakespeare's Globe Theatre,SIGHTS,51.508125,-0.097117,15,"[sightseeing, landmark, tourguide, theater, ac..."
Tate Britain,SIGHTS,51.490730,-0.126866,15,"[restaurant, artgallerie, museum, tourguide, s..."
Tate Modern,SIGHTS,51.507862,-0.099134,15,"[restaurant, sightseeing, museum, artgallerie,..."
Greenwich Park,SIGHTS,51.472923,0.002769,30,"[restaurant, park, attraction, nature, sightse..."
Museum of London,SIGHTS,51.517647,-0.096829,30,"[museum, tourguide, sightseeing, restaurant, s..."