## Testing Geoapify Places API

In [2]:
import sys
import pandas as pd
# change working directory to the root of the project
sys.path.append('../')
from src.methods.data_ingestion import call_api

In [3]:
request_params = {
    "apiKey": "493bbfea1f124b27906cf052aa330680",
    "categories": "entertainment",
    "limit": "20",
}
filters = {
        "circle": "-1.257677,51.7520131,5000",
}

url = 'https://api.geoapify.com/v2/places?'

# append parameters to the url
for key, value in request_params.items():
    url = url.replace('?', f'?{key}={value}&')

# append filters to the url
for key, value in filters.items():
    url = url.replace('?', f'?filter={key}:{value}&')

# remove the last '&' from the url
url = url[:-1]
url

'https://api.geoapify.com/v2/places?filter=circle:-1.257677,51.7520131,5000&limit=20&categories=entertainment&apiKey=493bbfea1f124b27906cf052aa330680'

Find all museums in a 5000m radium from Oxford city centre

In [4]:
res = call_api(url)
res

Error calling API: HTTPSConnectionPool(host='api.geoapify.com', port=443): Max retries exceeded with url: /v2/places?filter=circle:-1.257677,51.7520131,5000&limit=20&categories=entertainment&apiKey=493bbfea1f124b27906cf052aa330680 (Caused by ProxyError('Unable to connect to proxy', OSError('Tunnel connection failed: 307 Temporary Redirect')))

In [5]:
len(res['features'])

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df = pd.DataFrame.from_dict(res['features'][13]['properties'], orient='index').T
# expand datasource column into multiple columns
df = pd.concat([df.drop(['datasource','place_id'], axis=1), df['datasource'].apply(pd.Series)], axis=1)
# expand raw column into multiple columns
df = pd.concat([df.drop(['raw'], axis=1), df['raw'].apply(pd.Series)], axis=1)
df.T

                                                               0
name                                             Pegasus Theatre
country                                           United Kingdom
country_code                                                  gb
state                                                    England
county                                               Oxfordshire
city                                                      Oxford
postcode                                                 OX4 1RE
district                                              Robin Hood
street                                             Magdalen Road
lon                                                     -1.23637
lat                                                    51.741485
state_code                                                   ENG
formatted      Pegasus Theatre, Magdalen Road, Oxford, OX4 1R...
address_line1                                    Pegasus Theatre
address_line2     Magdalen Road, Oxford, OX4 1RE, United Kingdom
categories     [building, building.entertainment, entertainme...
details                               [details, details.contact]
sourcename                                         openstreetmap
attribution                         © OpenStreetMap contributors
license                                    Open Database Licence
url                      https://www.openstreetmap.org/copyright
name                                             Pegasus Theatre
phone                                            +44 1865 792209
osm_id                                                 133913067
amenity                                                  theatre
website                                www.pegasustheatre.org.uk
building                                                     yes
osm_type                                                       w
addr:street                                        Magdalen Road
addr:postcode                                            OX4 1RE

In [ ]:
# Get all values in large dataframe
feature_list = []
for i in range(len(res['features'])):
    #append rows to df
    feature_list.append(pd.DataFrame.from_dict(res['features'][i]['properties'], orient='index').T)

# Combine into single dataframe
df = pd.concat(feature_list, ignore_index=True)
# expand datasource column into multiple columns
df = pd.concat([df.drop(['datasource','place_id'], axis=1), df['datasource'].apply(pd.Series)], axis=1)
# expand raw column into multiple columns
df = pd.concat([df.drop(['raw'], axis=1), df['raw'].apply(pd.Series)], axis=1)
df

,name,country,country_code,state,county,city,postcode,district,suburb,street,...,brand:wikidata,brand:wikipedia,contact:website,screen,fhrs:id,owner,theatre:type,theatre:genre,operator:type,building:levels
0,Ashmolean Museum,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 2PH,St Thomas',City Centre,Beaumont Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Modern Art Oxford,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 1BP,NaN,City Centre,Pembroke Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheldonian Theatre,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3AZ,Holywell,City Centre,Broad Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Museum of the History of Science,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3BQ,Holywell,City Centre,Broad Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Oxford University Museum of Natural History,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3PW,Holywell,City Centre,Parks Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Burton Taylor Studio,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 2LP,St Thomas',City Centre,Gloucester Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,The Ultimate Picture Palace,United Kingdom,gb,England,Oxfordshire,Oxford,OX4 1BN,St Clement's,East Oxford,Jeune Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Museum of Oxford,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 1DZ,Holywell,City Centre,St Aldate's,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Oxford Playhouse,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 2LW,St Thomas',City Centre,Beaumont Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bate Collection of Musical Instruments,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 1DB,NaN,City Centre,Floyds Row,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Odeon George Street,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 2BL,St Thomas',City Centre,George Street,...,Q6127470,en:Odeon Cinemas,https://www.odeon.co.uk/cinemas/oxford-george-st/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Pitt Rivers Museum,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3PP,Holywell,City Centre,Parks Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Phoenix Picturehouse,United Kingdom,gb,England,Oxfordshire,Oxford,OX2 6AE,NaN,Jericho,Walton Street,...,Q7191215,NaN,NaN,2.0,955351.0,NaN,NaN,NaN,NaN,NaN
13,Pegasus Theatre,United Kingdom,gb,England,Oxfordshire,Oxford,OX4 1RE,Robin Hood,NaN,Magdalen Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Story Museum,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 1BP,NaN,City Centre,Pembroke Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Balliol Historic Collections Centre,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3TP,Holywell,City Centre,St Cross Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Holywell Music Room,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 3BN,Holywell,City Centre,Holywell Street,...,NaN,NaN,NaN,NaN,NaN,Wadham College,concert_hall,chamber_music,NaN,NaN
17,Ark-T Centre,United Kingdom,gb,England,Oxfordshire,Oxford,OX4 3LN,Church Cowley,Cowley,Crowell Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Christ Church Picture Gallery,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 4JF,Holywell,City Centre,Front Quad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,university,1.0
19,OVADA,United Kingdom,gb,England,Oxfordshire,Oxford,OX1 1JW,St Thomas',City Centre,Hamel Walk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# From each row get unqiue words in the categories column
def get_unique_words(cat_list):
    unique_categories = []
    for i in range(0,len(cat_list)):
        # Skip nan values
        if type(cat_list[i]) == str:
            # separate full stops ans spaces into separate words
            categories = cat_list[i].split('.')
            categories = [category.split(' ') for category in categories]
            # flatten the list
            categories = [item for sublist in categories for item in sublist]
            unique_categories.append(categories)
            
    unique_categories = [item for sublist in unique_categories for item in sublist]
    unique_categories = list(set(unique_categories), name='keyword_list')) 
    return unique_categories

In [ ]:
for ls in df['categories']:
    df['category_keywords'] = pd.Series(get_unique_words(ls))

df

NameError: name 'df' is not defined